<nav class="navbar navbar-expand-lg navbar-light" style="background: #eebdbd;">
  <a class="navbar-brand" href="#">Hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul></div>
    
     
      <input class="form-control mr-sm-2" style="margin-left: 55rem;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  
  </div>
</nav>


<table id="example" class="table table-striped table-bordered nowrap mt-5" style="width:100%;font-size: 16px;">
        <thead>
            <tr>
            
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Message</th>
                
                
            </tr>
        </thead>
  
        <tbody> 

            {{#each msg}}
             
              
               
            <tr> 
                <td>{{this.Name}}</td>
                <td>{{this.Phone}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Message}}</td>
                </tr>  
            
           
           {{/each}}
          
            
        </tbody>
    </table>
