<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/stylesheets/addstaff.css">
</head>
<body>
    

<section class="get-in-touch">
   <h1 class="title">Get in touch</h1>
   <form class="contact-form row" method="POST" action="/addstaff">
   <div class="form-field col-lg-6">
         <input id="empid" class="input-text js-input" type="text" name="empid" required>
         <label class="label" for="empid">EMP ID</label>
      </div>
      <div class="form-field col-lg-6">
         <input id="name" class="input-text js-input" type="text" name="name" required>
         <label class="label" for="name">Name</label>
      </div>
      <div class="form-field col-lg-6 ">
         <input id="email" class="input-text js-input" type="email" name="email" required>
         <label class="label" for="email">E-mail</label>
      </div>
      <div class="form-field col-lg-6 ">
         <input id="department" class="input-text js-input" type="text" name="department" required>
         <label class="label" for="department">Department</label>
      </div>
       <div class="form-field col-lg-6 ">
         <input id="role" class="input-text js-input" type="text" name="role" required>
         <label class="label" for="role">Role</label>
      </div>
      <div class="form-field col-lg-12">
         <input id="salary" class="input-text js-input" type="text" name="salary" required>
         <label class="label" for="salary">Salary</label>
      </div>
         <div class="form-field col-lg-12">
         <input class="submit-btn" type="submit" value="Submit">
      </div>
   </form>
</section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
